.App {
  text-align: center;
}

.App-header {
  background-color: #FFF88A;
  width: 100%;
  height: 20vh;
}

.App-intro {
  font-size: large;
}

.App-title {
  font-size: 1.75em;
  font-family: Kaleko105W00-Bold;
  color: #000000;
  float: left;
  text-align: left;
  line-height: 1.25em;
  margin: 1vh 1vw;
}

.Avatar {
  border: 3px solid #97EEEC;
  border-radius: 100%;
  width: 125px;
  float: right;
  margin: 1vh 1vw;
}

.Intro {
  height: 80vh;
  margin: 0 auto;
}

.Row {
  height: 40vh;
}

.Block-1 {
  background-color: #FFFFFF;
  width: 50%;
  height: 100%;
  float: left;
}

.Block-2 {
  background-color: #97EEEC;
  width: 50%;
  height: 100%;
  float: right;
}

.Block-3 {
  background-color: #145AD1;
  width: 50%;
  height: 100%;
  float: left;
}

.Block-4 {
  background-color: #FFFFFF;
  width: 50%;
  height: 100%;
  float: right;
}

img.graphic {
  max-width: 300px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

p.blurb {
  text-align: left;
  position: relative;
  float: left;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  line-height: 50px;
  font-size: 1.75em;
  font-family: HK Nova;
  font-weight: Extralight;
}

.About {
  background-image: url("./resources/images/background.png");
  background-size: contain;
  background-position: top;
  background: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: block;
}

.WriteUp {
  justify-content: center;
  vertical-align: middle;
  margin: 50px;
}

h1.WriteUp {
  margin: 0;
}

.paragraph {
  padding: 10px;
  text-align: justify;
  width: 30vw;
  margin: 0 auto;
  font-family: HKNova-MediumNarrow;
  font-size: 1em;
  line-height: 2em;
}

.btn {
  background-color: #68EB9A;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-family: HKNova-MediumNarrow;
  font-size: 1em;
  line-height: 2em;
  margin: 50px;
}

.btn a {
  text-decoration: none;
  color: #21B258;
}


.btn a:hover {
  color: #FFF88A;
}

.btn2 {
  background-color: #97EEEC;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-family: HKNova-MediumNarrow;
  font-size: 1em;
  line-height: 2em;
  margin: 50px;
}

.btn2 a {
  text-decoration: none;
  color: #50D2CF;
}

.btn2 a:hover {
  color: #FFF88A;
}

.paragraph a {
    text-decoration: none;
    color: #145AD1
  }

@media (max-width: 1350px) {
  .Intro {
    height: 160vh;
    margin: 0 auto;
  }

  .Block-1 {
    width: 100%;
    height: 40vh;
    font-size: 1em;
    display: block;
  }

  .Block-2 {
    width: 100%;
    height: 40vh;
    display: block;
  }

  .Block-3 {
    width: 100%;
    height: 40vh;
    display: block;
  }

  .Block-4 {
    width: 100%;
    height: 40vh;
    font-size: 1em;
    display: block;
    background-color: #FFF88A;
  }

  .About {
    background-image: url("./resources/images/background.png");
    background-size: contain;
    background: cover;
    background-repeat: space;
    width: 100%;
    height: 100vh;
    display: block;
  }

  .WriteUp {
    justify-content: center;
    vertical-align: middle;
    margin: 50px;
  }

  h1.WriteUp {
    margin: 0;
  }

  .paragraph {
    padding: 10px;
    width: 40vw;
    margin: 0 auto;
    font-family: HKNova-MediumNarrow;
    font-size: 1em;
    line-height: 2em;
  }
}
